
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav>

  <h1  class="text-center espaciado">Imagina2Print</h1>
  <div class="container">


  <div class="panel panel-primary">


  {{drag-and-drop class="espaciado espacioArriba"}}

  <div class="text-center espaciado">
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" {{action "hacerPeticion"}}>Imprimir</button>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
            <div class="container">
              <div class="text-center col-sm-6">
                <h2>Imprimir</h2>
              </div>
            </div>
          </div>
            <div class="modal-header">
            <div class="container">
              <form class="form-horizontal " action="/action_page.php">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Color:</label>
                  <div class="col-sm-3">
                    <select id="color" class="form-control">
                      <option>{{respuesta.color.[1]}}</option>
                      <option>{{respuesta.color.[0]}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Tamaño:</label>
                  <div class="col-sm-3">
                    <select id="tamano" class="form-control">
                      <option>{{respuesta.tamano.[0]}}</option>
                      <option>{{respuesta.tamano.[1]}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Config:</label>
                  <div class="col-sm-3">
                    <select id="configuracion" class="form-control">
                      <option>{{respuesta.configuracion.[0]}}</option>
                      <option>{{respuesta.configuracion.[1]}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Márgenes:</label>
                  <div class="col-sm-3">
                    <select id="margenes" class="form-control">
                      <option>{{respuesta.margenes.[0]}}</option>
                      <option>{{respuesta.margenes.[1]}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-sm-6 text-center">
                  <div class="">
                    <button type="submit" class="btn btn-default " data-dismiss="modal" data-toggle="modal" data-target="#myModal2"   {{action 'save'}}>Imprimir</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="header">
        </div>
        <div class="modal-body">
            <div class="progress" style="display: none;">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" style="width: 70%;" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  {{canvas-component}}
  </div>
  </div>
</nav>


{{!-- Feel free to remove this! --}}

{{outlet}}
